<section class="container mt-3">
    <form [formGroup]="newCustomerForm" (ngSubmit)="saveCustomer()" class="row g-3">
        <div *ngIf="firstName" class="col-md-6">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName">
            <small class="text-danger" *ngIf="firstName.invalid && firstName.dirty">Érvénytelen felhasználó
                név!</small>
        </div>
        <div *ngIf="lastName" class="col-md-6">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName">
            <small class="text-danger" *ngIf="lastName.invalid && lastName.dirty">Érvénytelen felhasználó név!</small>
        </div>
        <div *ngIf="email" class="col-md-6">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email"
                placeholder="example@example.com">
            <small class="text-danger" *ngIf="email.invalid && email.dirty">Érvénytelen email cím!</small>
        </div>
        <div *ngIf="gender" class="col-md-6">
            <label for="gender" class="form-label">Gender</label>
            <select class="form-select" id="gender" formControlName="gender">
                <option selected disabled hidden>Choose...</option>
                <option [value]="gender.key" *ngFor="let gender of genderOptions">{{gender.value}}</option>
            </select>
            <small class="text-danger" *ngIf="gender.invalid && gender.dirty">Kérjük válasszon!</small>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="newsletter" formControlName="newsletter"
                [checked]="true" (change)=false>
            <label class="form-check-label" for="newsletter">Subscribe to newsletter</label>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="isVIP" formControlName="isVIP" checked="true"
                (change)=false>
            <label class="form-check-label" for="isVIP">VIP customer</label>
        </div>
        <div>
            <button type="submit" class="btn btn-info" id="submitButton" #submitBtn
                [disabled]="newCustomerForm.invalid">Submit</button>
        </div>
    </form>
</section>
